  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Enjoy your &lt;weekday&gt;! :)
    </div>
    <!-- Default to the left -->
    {{.AppName}} <strong>?dev?</strong> by function61.com
  </footer>
</div>
<!-- ./wrapper -->

</body>
</html>
